@import "../../colours";

input {
    font-family: "Segoe UI", "Roboto";
    text-align: center;
    font-size: 1.3rem;
    padding: 0;
    border: 2px solid var(--header-link);
    color: var(--header-link);
    border-radius: 2px;
    height: 100%;
    width: 100%;
}

input:focus {
    outline: none;
}

.table-wrapper {
    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        // margin: 1em 0;
    }

    th,
    td {
        border: 1px solid var(--th-border);
        padding: 0.5em;
    }

    th {
        background-color: var(--th-bg);
        color: var(--th-border);
        text-align: left;
        font-weight: 500;
        text-transform: uppercase;
    }

    .th__end {
        text-align: center;
    }

    // :nth-child(even)
    tr {
        background-color: var(--tr-bg);
    }

    td {
        color: var(--header-link);
        text-align: center;
    }

}

.tr-buttons {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    width: auto;
}

.btn-delete,
.btn-save,
.btn-edit,
.btn-cancel,
.btn-add {
    background-image: url(../../images/icons8-delete.svg);
    width: 28px;
    height: 28px;
    background-size: contain;
    border: none;
    background-color: transparent;
}

.btn-delete:hover,
.btn-save:hover,
.btn-edit:hover,
.btn-cancel:hover,
.btn-add:hover {
    cursor: pointer;

}

.btn-add {
    background-image: url(../../images/icons8-add-64.png);
}

.btn-save {
    background-image: url(../../images/icons8-check.svg);
}

.btn-edit {
    background-image: url(../../images/icons8-edit.svg);

}

.btn-cancel {
    background-image: url(../../images/icons8-cancel.svg);

}

@media (max-width: 460px) {

    th:nth-child(4) {
        width: 30%;
    }

    .btn-delete,
    .btn-save,
    .btn-edit,
    .btn-cancel,
    .btn-add {
        width: 20px;
        height: 20px;
    }

    .table-wrapper table {
        table-layout: auto;
    }
}

@media (min-width: 1280px) {

    th:nth-child(4) {
        width: 10%;
    }
}