:root {
    --background-color: #ccaa99;
    --header-bg: #ffeedd;
    --header-shadow: rgb(70, 67, 67);
    --header-hover: #ee2233;
    --header-link: #bb5555;
    --footer-bg: #ffeedd;
    --footer-desc: #bb5555;
    --input-border: white;
    --th-border: white;
    --th-bg: #bb5555;
    --tr-bg: #ffeedd;
    --card-border: #ccaa99;
    --card-shadow: #ffeedd;
}